.firefox {
  /* margin-left: 50px; */
  text-align: center;
  margin-top: 50px;
  background-color: black;
  text-align: center;

  justify-content: center;
}

.text {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  align-items: center;
  justify-content: center;
}

img {
  width: 100px;
  height: 100px;
}

body {
  padding: 25px 50px;
}
